<h2>Bias by:</h2>
<form action="">
<ul>
  <% categories.forEach(function(category){ %>
    <li>
      <%= category %>
      <select name="<%= category %>">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    </li>
  <% }); %>
</ul>
</form>
