<h2>Your Playlists:</h2>
<ul id="playlists">
  <% playlists.forEach(function(playlist){ %>
    <li>
      <button id="<%= playlist.id %>" name="<%= playlist.id %>" onclick="renderTracklist(this)">
        <%= playlist.name %>
      </button>
    </li>
  <% }); %>
</ul>
