

<div id="scroll-div">
<ul id="playlists" >
  <% playlists.forEach(function(playlist){ %>
    <li>
      <button id="<%= playlist.id %>" name="<%= playlist.id %>" class="playlist" onclick="renderTracklist(this)">
        <%= playlist.name %>
      </button>
    </li>
  <% }); %>
</ul>
</div>
