<h2>Shuffle Type:</h2>
<form action="">
  <input type="radio" name="shuffleType" id="shuffleType-random" value="Random" />
  <input type="radio" name="shuffleType" id="shuffleType-spread" value="Spread" />
  <input type="radio" name="shuffleType" id="shuffleType-biased" value="Biased" />
</form>

<h2>Spread Options:</h2>
<h3>Spread By:</h3>
<form action="">
  <input type="radio" name="spreadParam" id="spreadParam-artist" value="Artist" />
  <input type="radio" name="spreadParam" id="spreadParam-album" value="Album" />
  <input type="radio" name="spreadParam" id="spreadParam-explicit" value="Explicit" />
  <input type="radio" name="spreadParam" id="spreadParam-name" value="Name" />
  <input type="radio" name="spreadParam" id="spreadParam-popularity" value="Popularity" />
  <input type="checkbox" id="internalshuffle" value="Internal Shuffle" />
</form>
