<div id="scroll-div-tl">
<div id="tracks">
<ul>
<% songs.forEach(function(song){ %>
  <li class="ellipsis"><b><%= song.name %> :: </b><%= song.artists[0].name %></li>
<% }); %>
</ul>
</div>
</div>
</div>
