<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Shuffle+ Login</title>
</head>
<body>
  <h1>Welcome to Shuffle+!</h1>
  <h2>Before we get started, we just need you to login
      to your Spotify account.</h2>
  <a href="/login" class="btn btn-primary">Log in with Spotify</a>
</body>
</html>
