<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />
<html>
<head>
  <meta charset="UTF-8">
  <title>Shuffle+ Login</title>
</head>
<body>
  <div id="login-div"
  <h1>Welcome to Shuffle+!</h1>
  <h2>Before we get started, we just need you to login
      to your Spotify account.</h2>

  <a href="/login" class="bttn">Log in with Spotify</a>
  </div>
</body>
</html>
