<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1>Welcome, <%= name %>!</h1>
  
  <div id="pl-div"><% include ../partials/playlists %></div>
  <div id="tl-div"></div>
  <div id="shuffleoption-div"><% include ../partials/shuffleoptions %></div>
</body>
</html>
