<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1 id="head-div">Welcome, <%= name %>!</h1>
  <div id="main-div">
  <div id="pl-div"><% include ../partials/playlists %></div>
  <div id="tl-div"></div>
  <div id="shuffleoption-div"><% include ../partials/shuffleoptions %></div>
  <button name="sendMessages" onclick="sendMessages(this)">Send Messages</button>
</div>
</body>
</html>
