<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1>Welcome, <%= name %>!</h1>
  <% include ../partials/playlists %>
  <div id="tl-div"></div>
</body>
</html>
