<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />

<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1 id="head-div">Shuffle+</h1>
  <div id="player-div"></div>
  <div id="main-div">
  <div id="pl-div"> <h2>Your Playlists:</h2> <% include ../partials/playlists %></div>
  <div id="tl-div"> <h2>Tracklist:</h2></div>
  <div id="shuffleoption-div"><h2>Shuffle Options:</h2><% include ../partials/shuffleoptions %></div>
</div>
</body>
</html>
