<!DOCTYPE html>
<link type="text/css" rel="stylesheet" href="basicstyle.css" />

<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <h1 id="head-div">Shuffle+</h1>
  <div id="player-div"></div>
  <div id="main-div">
  <div id="pl-div"> <h2 class='col-name'>Your Playlists:</h2> <% include ../partials/playlists %></div>
  <div id="tl-div"> <h2 class='col-name'>Tracklist:</h2><div id="tracks"></div></div>
  <div id="shuffleoption-div"><h2 class='col-name'>Shuffle Options:</h2><% include ../partials/shuffleoptions %></div>
</div>
</body>
</html>
